POSTGRES_DB=walkdog
POSTGRES_USER=walkdog
POSTGRES_PASSWORD=walkdog
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_POOL_MAX=10
ENVIRONMENT=development
RELEASE=local
SENTRY_DSN=
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
